body {
	height:100%;
	width: 100%;
	margin:0%;
	cursor:url(https://img.icons8.com/nolan/64/000000/rainbow-six-siege.png) 10 10, auto;
}

.row1 {
	height:10%;
	width:100%;
	background-color:black;
	display:flex;
}

.box1 {
	height:100%;
	width:calc(100%/2);
	display:block;
	background-color: blue;
}

.hold{
	margin:auto;
	max-height:100%;
	max-width:100%;
}

.center{
	justify-content:center;
	align-items:center;
}

.box2 {
	height:100%;
	width:calc(100%/2);
	display:block;
	background-color: red;
}

.circle {
	height:90%;
	width:100%;
	display:flex;
}

.small-row1 {
	height:25%;
	width:100%;
	display:flex;
	background-color:red
}

.pulse:hover{ 
	animation: pulse 1s infinite;
	animation-timing-function: linear;   
}
.pulse:active{ 
	animation: shake 1s infinite;
	animation-timing-function: linear;   
}

@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.1);
	100% { transform: scale(1); }
  }
}

.shake:hover {
	animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.small-row2 {
	height:25%;
	width:100%;
	display:flex;
	background-color:blue
}

.box4 {
	height:100%;
	width:25%;
	display:flex;
}

.box99{
	height:75%;
	width:100%;
	background-color:green;
}
.box100{
	height:75%;
	width:100%;
	background-color:yellow;
}
img {
	height:100%;
	align-items:center;
	justify-content:center;
	text-align: center;
}
.image {
	height:100%;
	align-items:center;
	margin:auto;
	justify-content:center;
}
.size {
	height:100%;
	width:100%;
}

.contain-image {
	position:absolute;
}
.power-up {
	content:url(ash6.png);
}
.power-up1 {
	content:url(hibana7.png);
}

.power-up2 {
	content:url(thermite01.png);
}

.power-up3 {
	content:url(sledge2.png);
}

.power-up4 {
	content:url(smoke1.png);
}

.power-up5 {
	content:url(jager123.png);
}

.power-up6 {
	content:url(valk7372.png);
}

.power-up7 {
	content:url(bandit1.png);
}


@media only screen and (max-width:768px){
	.circle {
		height:90%;
		width:100%;
		display:block;
	}
	
	.box1 {
		height:100%;
		width:100%;
		display:block;
		background-color: blue;
	}

	.box2 {
		height:100%;
		width:100%;
		display:block;
		background-color: red;
	}
	
	.box99 {
		height:75%;
		width:100%;
		background-color:green;
		display:flex;
	}
	.box100 {
		height:75%;
		width:100%;
		background-color:yellow;
		display:flex;
	}	
}

@media only screen and (max-width:375px){
	.circle {
		height:90%;
		width:100%;
		display:flex;
	}
	
	.box99 {
		display:none;
	}

	.box100 {
		display:none
	}
	
	.box1 {
		height:100%;
		width:50%;
		display:block;
		background-color: blue;
	}

	.box2 {
		height:100%;
		width:50%;
		display:block;
		background-color: red;
	}
	.small-row1 {
		height:100%;
		width:100%;
		display:block;
		background-color:red
	}

	.small-row2 {
		height:100%;
		width:100%;
		display:block;
		background-color:blue
	}	
	.box4 {
		height:25%;
		width:100%;
		display:flex;
		background-color:white;
	}
}

.red {
	background-color:red;
}
.blue {
	background-color:blue;
}
.orange {
	background-color:orange;
}












